<<<<<<< HEAD
<footer class="text-center py-3">
  <p>Tournament Bracket Manager 2024</p>
</footer>
</body>
</html>
=======
<!--footer-->
<footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <h6 class="navbar-text">&copy;INFR3120 Assignment 3 - Hashir Sheikh - Copyright 2024. All rights reserved</h6>
    </nav>
    </footer>
</body>
</html>
>>>>>>> 6569a9bc24b022a06f6df1da29a05894dbc3f927
