<!--footer-->
<footer class="text-center py-3">
  <nav class="navbar fixed-bottom navbar-dark bg-dark">
    <h6 class="navbar-text">
      &copy;INFR3120 Assignment 3 - Hashir Sheikh - Copyright 2024. All rights reserved
    </h6>
  </nav>
</footer>
</body>
</html>
