<%- include('./Partials/header.ejs') %>
<%- include('./Partials/main_nav.ejs') %>

<div class="container text-center">
  <h1>Welcome to the Tournament Bracket Manager!</h1>
  <p>Track and manage your tournaments with ease.</p>
  <a href="/tournaments" class="btn btn-success mt-3">
    View Tournaments <i class="fa-solid fa-trophy"></i>
  </a>
</div>

<%- include('./Partials/footer.ejs') %>
