<%- include server\views\partials\header.ejs %>
<%- include server\views\partials\main_nav.ejs %>
<div class="container text-center vh-100 d-flex flex-column justify-content-center align-items-center">
  <h1>Welcome to the Tournament Bracket Manager!</h1>
  <p>Track and manage your tournaments with ease.</p>
  <a href="/tournaments" class="btn btn-primary mt-3">
    View Tournaments <i class="fa-solid fa-trophy"></i>
  </a>
</div>
<%- include server\views\partials\footer.ejs %>

